@{
    ViewBag.Title = "SquareRoot";
}

<h2>SquareRoot Calculator</h2>

@using (Html.BeginForm())
{
    <div>
        <label for="number">Enter Number:</label>
        <input type="text" id="number" name="number" />
    </div>
    <div>
        <input type="submit" value="Calculate" id="calculateButton" />
    </div>
}

@if (ViewBag.Result != null)
{
    <div>
        <h3>Result:<div id="result"> @ViewBag.Result</div></h3>
    </div>
}